a(href="\##{permalink}")
  block image
    .tile-contents
      .tile-text
        .tile-title
          block title
            = app.templateHelpers.truncate(title, 100)
        .tile-more
          block more
            = app.templateHelpers.truncate(description, 120)
