a(href="\##{permalink}")
  block image
    - var color = app.templateHelpers.randomColor(cid);
    .tile-image(style="background-color: #{color}")
  .tile-text
    .tile-title
      block title
        = title
    .tile-more
      block more
        = description
