.tile {
  position: relative;
  display: inline-block;
  width: calc(20% - 10px);
  margin: 5px;
  padding-bottom: calc(20% - 10px);
  overflow: hidden;
}

.tile-contents {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: $medium-blue;

  &:hover {
    background-color: $light-blue;
  }
}

.tile-text {
  height: 100%;
  overflow: hidden;
  color: #fff;
}

.tile-title {
  font-weight: bold;
  padding-bottom: 5px;
}

.tile-edit {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
}





@media (max-width: $screen-xs-max) {
  .tile {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding-bottom: 20px;
  }

  .tile-contents {
    position: static;
  }
}
