doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(charset='utf-8')
    title Media Public
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href=mainCss, type='text/css')
    link(rel='stylesheet', href='/css/lib/font-awesome/font-awesome.css', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway|Open+Sans+Condensed:300,700', rel='stylesheet', type='text/css')
  body.initial
    .application
    script(src=mainJs)
