@import "bootstrap-custom";
@import "shared/components";
@import "application/style";
@import "header/style";
@import "organizations/style";

* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

.inline-block {
  display: inline-block;
}
