if id
  .logged-in
    a.user-name(href='#' + app.currentUser.permalink())
      = display_name
    | &nbsp; | &nbsp;
    a.log-out Log out
else
  .logged-out
    form(action=app.config.apiUrl + '/auth/login/twitter', name='twitterLogin')
    a(href='javascript:document.twitterLogin.submit()').log-in Log in
    | &nbsp; | &nbsp;
    a(href='javascript:document.twitterLogin.submit()').log-in Sign up
