extends ../components/tile.jade

block image
  - var color = app.templateHelpers.randomColor(cid);
  - var style = "background-color: " + color + ";";
  - if (profile_picture) style = style + "background-image: url(" + profile_picture + ")";
  .tile-image(style=style)
block title
  = first + " " + last
block more
  = bio
  .social-media-links
    i.fa.fa-twitter
    i.fa.fa-facebook
    i.fa.fa-github
    i.fa.fa-instagram
