- if (profile_picture) var style = style + "background-image: url(" + profile_picture + ")";

a(href="\##{permalink}")
  .user-tile-image(style=style)
  .user-tile-text
    .user-tile-title
      = display_name
    .user-tile-more
      = app.templateHelpers.truncate(bio, 250)
      .social-media-links
        i.fa.fa-twitter
        i.fa.fa-facebook
        i.fa.fa-github
        i.fa.fa-instagram
