.person
  .person-picture(style="background-image: url(#{profile_picture})")
    .person-details
      .name.form-inline(model=cid, data-fields="first,last")
        = first + " " + last
  .person-edit
    if viewState.editing
      i.action-icon.save.fa.fa-check
      i.action-icon.cancel.fa.fa-times
    else
      i.action-icon.edit.fa.fa-pencil
