.people {
  margin-top: 40px;
}

.person-container {
  width: calc(20% - 10px);
  margin: 5px;
  padding-bottom: 20%;
  position: relative;
  box-sizing: content-box;
  display: inline-block;
}

.person {
  position: absolute;
  border: 1px solid $borderGray;
  width: 100%;
  top: 0;
  bottom: 0;
}

.person-picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: 100%;
  background-color: #777;
}

.person-details {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(35, 35, 35, 0.5);
  transition: all 0.2s linear;
  color: #ddd;
}

.person:hover .person-details {
  background-color: rgba(35, 35, 35, 1);
  color: #fff;
}

.person-edit {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
}
