.person-container {
  .social-media-links {
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
}

@media (max-width: $screen-sm-max) {
  .person-container {
    .social-media-links {
      position: static;
      text-align: left;
    }
  }
}

.approve {
  color: $brand-success;
}

.reject {
  color: $brand-danger;
}

.approve, .reject {
  padding: 5px;
}
