* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

.inline-block {
  display: inline-block;
}

.btn {
  margin-right: 10px;
}

p {
  margin-top: 22px;
  font-family: 'Times New Roman', serif;
  font-size: 18px;
  line-height: 22px;
}

a {
  cursor: pointer;
}

.view-container {
  width: 100%;
  max-width: $viewWidth;
  margin: auto;
  padding: 40px 0;
}

@media (max-width: $screen-sm-max) {
  .view-container {
    padding: 40px 20px;
  }
}
