* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

.inline-block {
  display: inline-block;
}

p {
  margin-top: 22px;
  font-family: 'Times New Roman', serif;
  font-size: 18px;
  line-height: 22px;
}

a {
  cursor: pointer;
}

.view-container {
  width: 100%;
  max-width: $viewWidth;
  margin: auto;
  padding: $viewPadding 0;
}

@media (max-width: $screen-sm-max) {
  .view-container {
    padding: $viewPadding $viewPadding / 2;
  }
}
