.tile {
	display: inline-block;
	width: 100px;
	height: 110px;
	overflow: hidden;

	vertical-align: top;

	margin: 1em;
	padding: 10px 15px;

	background-color: #205493;
	color: white;

	font-family: 'Source Sans Pro', sans-serif;
}

@media (max-width: 600px) {
	.tile {
		display: inline-block;
		width: 80%;
		height: 100%;

		margin: 5px 5%;
	}

	.people .tile .overlay {
		height: 130px;
	}

	.people .tile p, .people .tile h4 {
		display: inline-block;
	}

	.people .tile .social {
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

.tile:hover {
	background-color: #0071bc;
}

.tile h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

/* RECORDINGS */
.recordings .one p {
	max-height: 60px;
}

.recordings .two {
	position: relative;
}

.recordings .two p {
	max-height: 4em;
	overflow: hidden;
}

.recordings .two p.more {
	position: absolute;

	font-size: 13px;
	bottom: 1em;
}

/* PEOPLE */
.people .tile {
	padding: 0;
	height: 130px;
	width: 130px;

	position: relative;

	background-image: url('../img/headshot.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}

.people .tile .social {
	display: none;
	margin: 2px 10px;
}

.overlay {
	width: 100%;
	background-color: rgba(0,0,0,.8);

	position: absolute;
	bottom: 0;
}

.overlay h3 {
	margin: 2px 10px;
}

.overlay p {
	display: none;

	margin: 2px 10px;

	font-size: 13px;
}

.overlay h4 {
	display: none;

	margin: -5px 10px 2px 10px;

	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	font-weight: 100;
}

.people .tile:hover .overlay {
	height: 130px;

	animation-name: growheight;
	animation-duration: .05s;
}

.people .tile:hover p, .people .tile:hover h4 {
	display: inline-block;
}

.people .tile:hover .social {
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
}

.people .social > a {
	display: inline-block;
	width: 20px;
	height: 20px;

	background-size: 100%;
	background-repeat: no-repeat;

	animation-name: pop;
	animation-duration: .4s;
}

.people .social .twitter {
	background-image: url('../img/twitter.png');
}

.people .social .twitter:hover {
	background-image: url('../img/twitter active.png');
}

.people .social .medium {
	background-image: url('../img/medium.png');
}

.people .social .medium:hover {
	background-image: url('../img/medium active.png');
}

.people .three .overlay p {
	max-height: 35%;
	overflow: hidden;
	line-height: 1.2em;
}

/* ANIMATIONS */
@keyframes growheight {
	0% { height: auto; }
	50% { height: 80px; }
	75% { height: 110px; }
	100% { height: 130px; }
}

@keyframes pop {
	0% { opacity: 0 }
	50% { opacity: 0 }
	75% { opacity: .8 }
	100% { opacity: 1 }
}